/*setear mi css*/
body{
  box-sizing: border-box;
  color: #303030;
  font-family: 'Raleway', sans-serif;
  margin: 0;
  padding: 0;
}
/*clases reutilizables*/
.text-uppercase {
  text-transform: uppercase;  /*text-tranform para mayusculas y asi*/
}
div{
  box-sizing: border-box;
  display: inline-block;
  padding: 2px;
  width: 33%
}

/*clases especificas*/

a {
    color: inherit; /*se quito el color*/
    text-decoration: none;/*quitamos la linea*/
}
ul li{
  display: inline;/*porque la lista va a ir de un lado a otro */
  margin: 5px;/*separar*/
  list-style: none;/*se le quita la viñeta*/
}
.logo-header{
  width: 200px;
}

header{
   position: relative; /*padre de nav*/
}

nav { /*float: right;  se mueve a la derecha*/
      position: absolute;/*rompa todo el box */
      right: 0;
      top:50%;
      transform:translateY(-50%); ;/*transforma la caja*/
      }

.box-header{ /* une al figure y nav del header para que esten al mismo nivel*/
  display: inline-block; /*lo pone al mismo nivel */
}
.logo-square{
  width: 100px;/*el ancho de la imagen */
}
/*.logo-square img {
  width: 100% /*ocupe toda la imagen
}*/
section{/*para que todo este dentro */
  text-align: center;
}

[class^="icon-"], [class*=" icon-"] {
  font-size: 40px;
  transition: 0s;
}

li:hover,[class^="icon-"]:hover, [class*=" icon-"]:hover{
  color:#db964a;
}



footer {
  background-color: #303030;
  color: #ffffff;
  padding: 5px;
  text-align: center;
}

.btn {
  background-color: #db964a;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  font-family: inherit;
  padding: 10px;
}

.btn:hover {
  background-color: #644721;
}
